{
  "CrawlerFunction": {
    "APP_ENV": "local",
    "APP_DEBUG": true,
    "DB_DATABASE": "go_crawler",
    "DB_HOST": "localhost",
    "DB_USERNAME": "root",
    "DB_PASSWORD": "secret",
    "DB_PORT": 3306,
    "SPIDER_BANK_INDONESIA_URI": "https://www.bi.go.id/en/statistik/informasi-kurs/transaksi-bi/Default.aspx",
    "SPIDER_ORTAX_URI": "https://ortax.org/ortax/?mod=kurs"
  }
}
